@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'AutumnFlowers';
    src: url('/fonts/Autumn-Flowers.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }


/* .openSans {
    font-family: var(--font-open-sans);
} */

.jost {
    font-family: var(--font-jost);
}

.font-AutumnFlowers {
    font-family: 'AutumnFlowers', sans-serif;
  }